# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
*.js.map
*.vue.js

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node.js dependencies
node_modules/

# Виртуальные файлы для разработки Vite
.vite/

# Файлы сборки Vite
/dist/

# Файлы с картами исходников
*.map

# Другие специфичные для проекта файлы
.env.local
.env.*.local
