@tailwind base;
@tailwind components;
@tailwind utilities;



.dark body {
    background-color: #232323 !important;
    color: #FFFFFF !important;
}
html body {
    background-color: #ffffff !important;
    color: rgba(35, 35, 35, 0.99) !important;
}


body .p-inputtext {
    background-color: #b8b8b8;
    color: #000000;
}

.dark .p-inputtext {
    background-color: #373737;
    color: #ffffff;
}


body .p-drawer{
    background-color: #f4f4f4;
    color: #000000;
}

.dark .p-drawer{
    background-color: rgb(39 39 42);
    color: #ffffff;
}


.dark .p-dialog{
    background-color: rgb(39 39 42);
    color: #ffffff;
}
body .p-dialog{
    background-color: #ececec;
    color: #000000;
}


body .p-inputtext::placeholder {
    color: #636363;
}

.dark .p-inputtext::placeholder {
    color: #d3d3d3;
}
